<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
  </configSections>
  <connectionStrings>
    <!--<add name="LocalDBContext" providerName="System.Data.SqlClient" connectionString="Data Source=local;Initial Catalog=local;Integrated Security=false;User ID=local;Password=local" />-->
    <!-- See http://www.mongodb.org/display/DOCS/CSharp+Driver+Tutorial#CSharpDriverTutorial-Connectionstrings for more info -->
    <add name="MongoServerSettings" connectionString="mongodb://local:local@127.0.0.1:27017/local" />
    <add name="Logging" connectionString="mongodb://local:local@127.0.0.1:27017/local-logging" />
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="NLog.MongoDB" />
    </extensions>
    <targets async="true">
      <target name="mongo" type="MongoDB" connectionName="Logging" collectionName="Neat-Api">
        <field name="machinename" layout="${machinename}" />
        <field name="timestamp" layout="${date}" />
        <field name="threadid" layout="${threadid}" />
        <field name="level" layout="${level}" />
        <field name="message" layout="${message}" />
        <field name="exception" layout="${exception}" />
        <field name="method" layout="${logger}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Error" writeTo="mongo" />
    </rules>
  </nlog>
  <appSettings>
    <add key="CORS:Domains" value="http://local.neat.com,http://dev.neat.com" />
    <add key="Logging:LogMethods" value="true" />
    <add key="Encryption:Key" value="3702BC4B665E4B9EB07BD0FE3BE7F4EF" />
    <add key="Encryption:Salt" value="THISISNEAT" />
  </appSettings>
</configuration>